<%- include('./layout/header') %>
<h1>404</h1>
<h3>PAGE NOT FOUND!</h3>
<br/>
<h4><%- error.status %> | <%- error.message %>  </h4>
<br/>
<a href="/">⬅Back to home</a>
<%- include('./layout/footer') %> 